table{
  border: 3px solid red;
  margin: auto;
}
td{
  height: 50px;
  width: 50px;
}
#black{
  background-color: black;
}
#white{
  background-color: white;
}

td:hover{
  background-color: pink;
}
